<!DOCTYPE html>
<html>
  <head>
    <title>CubeSolve50</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="static/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/script.js"></script>

  </head>
  <body>

    <div class="container" >
      {% block body %} {% endblock %}
    </div>

  </body>
</html>